body {
    font-family: Open Sans, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    background-color: #fff;
    line-height: 1.7em;
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-7 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.section-7-row {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    box-shadow: inset 0px -80px 0px 0px #f7f7f7;
    margin: auto;
    position: relative
}

.section-7-column {
    float: left;
    position: relative;
    z-index: 2;
    min-height: 1px;
    width: 100%;
}

.section-7-module {
    max-width: 20%;
    text-align: right;
    margin-left: auto;
    margin-right: 0px;
    position: relative;
}

.image-wrap {
    display: inline-block;
    position: relative;
    max-width: 100%;
}

.image-wrap img {
    position: relative;
    height: auto;
    max-width: 100%;
}

@media only screen and (min-width: 981px) {
    .section-7-row {
        width: 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 980px) {
    .section-7-row {
        width: 100%;
        max-width: 100%;
    }

    .image-wrap img {
        width: auto;
    }
}